<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.siteforum.plugins.beacon"
    version="2.1">
    <name>Beacon</name>

    <engines>
        <engine name="cordova" version=">=3.3.0" />
    </engines>
    

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Beacon">
                <param name="ios-package" value="Beacon" />
            </feature>
        </config-file>
        <js-module src="www/Beacon.js" name="Beacon">
            <clobbers target="Beacon" />
        </js-module>
        <header-file src="src/ios/Beacon.h" />
         <source-file src="src/ios/Beacon.m" />

         <framework src="CoreLocation.framework" />
         <framework src="CoreBluetooth.framework" />
         <framework src="SystemConfiguration.framework"/>


        <source-file framework="true" src="lib/EstimoteSDK/EstimoteSDK.framework"/>

        <header-file src="lib/ios/EstimoteSDK/Headers/ESTBeaconManager.h"/>
        <header-file src="lib/ios/EstimoteSDK/Headers/ESTBeaconRegion.h"/>
        <header-file src="lib/ios/EstimoteSDK/Headers/ESTBeaconVO.h"/>
        <header-file src="lib/ios/EstimoteSDK/Headers/ESTBeaconDefinitions.h"/>
        <header-file src="lib/ios/EstimoteSDK/Headers/ESTBeacon.h"/>
        <header-file src="lib/ios/EstimoteSDK/Headers/ESTDefinitions.h"/>

        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>This application uses your location to send you special offers.</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>This application monitors your location to show you promotional offers in shops you're passing by.</string>
        </config-file>

    </platform>
</plugin>